{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
<h2>My Projects</h2>
<div class="row">
  {% for project in projects %}
  <div class="col-md-4">
    <div class="card mb-3">
      <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.description }}</p>
        {% if project.link %}
          <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
